
.icon-speech-bubble:before { content: '\e800'; } /* '' */
.icon-stopwatch:before { content: '\e801'; } /* '' */
.icon-woman:before { content: '\e802'; } /* '' */
.icon-young-man-and-old-woman:before { content: '\e803'; } /* '' */
.icon-fetus:before { content: '\e804'; } /* '' */
.icon-girl:before { content: '\e805'; } /* '' */
.icon-icon:before { content: '\e806'; } /* '' */
.icon-motherhood:before { content: '\e807'; } /* '' */
.icon-quotation-mark:before { content: '\e808'; } /* '' */
.icon-change-purse:before { content: '\e809'; } /* '' */
.icon-chat-bubbles:before { content: '\e80a'; } /* '' */
.icon-clipboard:before { content: '\e80b'; } /* '' */
.icon-compact-disc:before { content: '\e80e'; } /* '' */
.icon-day-15-on-calendar:before { content: '\e815'; } /* '' */
.icon-dollar-sing:before { content: '\e816'; } /* '' */
.icon-dustbin:before { content: '\e817'; } /* '' */
.icon-euro-sign:before { content: '\e81a'; } /* '' */
.icon-exam:before { content: '\e81b'; } /* '' */
.icon-folder-with-documents:before { content: '\e81c'; } /* '' */
.icon-gift-box-with-a-ribbon:before { content: '\e81d'; } /* '' */
.icon-laptop:before { content: '\e824'; } /* '' */
.icon-lifeguard-float:before { content: '\e825'; } /* '' */
.icon-lock:before { content: '\e827'; } /* '' */
.icon-lot-of-money:before { content: '\e828'; } /* '' */
.icon-map:before { content: '\e829'; } /* '' */
.icon-map-2:before { content: '\e82a'; } /* '' */
.icon-mathematical-operators:before { content: '\e82b'; } /* '' */
.icon-men-avatar:before { content: '\e82d'; } /* '' */
.icon-open-mail:before { content: '\e833'; } /* '' */
.icon-phone:before { content: '\e836'; } /* '' */
.icon-phone-reciever:before { content: '\e837'; } /* '' */
.icon-pound-symbol:before { content: '\e83a'; } /* '' */
.icon-sand-clock:before { content: '\e841'; } /* '' */
.icon-scientist-avatar:before { content: '\e843'; } /* '' */
.icon-searching-tool:before { content: '\e844'; } /* '' */
.icon-sheet-of-newspaper:before { content: '\e846'; } /* '' */
.icon-sheet-of-torn-paper:before { content: '\e847'; } /* '' */
.icon-stack-of-bills:before { content: '\e84e'; } /* '' */
.icon-taking-notes:before { content: '\e850'; } /* '' */
.icon-telemarketer:before { content: '\e851'; } /* '' */
.icon-telephone:before { content: '\e852'; } /* '' */
.icon-text-and-image-document:before { content: '\e853'; } /* '' */
.icon-text-document:before { content: '\e854'; } /* '' */
.icon-text-document-with-title:before { content: '\e855'; } /* '' */
.icon-tool:before { content: '\e85a'; } /* '' */
.icon-user-network:before { content: '\e85b'; } /* '' */
.icon-weekly-calendar:before { content: '\e85d'; } /* '' */
.icon-womans-avatar:before { content: '\e85f'; } /* '' */
.icon-alarm-clock:before { content: '\e863'; } /* '' */
.icon-blackboard-with-chart:before { content: '\e867'; } /* '' */
.icon-briefcase:before { content: '\e86a'; } /* '' */
.icon-calculator:before { content: '\e86b'; } /* '' */
.icon-cancel-credit-card:before { content: '\e86d'; } /* '' */
.icon-question:before { content: '\e86e'; } /* '' */